# Verification of professional status

## Verified user flair

Healthcare providers, researchers, representatives of ADHD-related organizations, and other similar trained people or entities that are interested in having their accounts flaired should [message the mods](https://www.reddit.com/message/compose?to=%2Fr%2FADHD) for consideration.

We will require information to verify your status, so please be prepared to provide proof such as licensure or a verifiable email address. We will not share the details of the proof (e.g. full names and license #s) outside of the mod team unless explicitly desired by you. Flair content is your choice but typically contains your title/credentials (e.g. "PMHNP", "pediatric neuropsychiatrist").

Any user claiming to meet verified user status but unable or unwilling to go through our verification process will be subject to moderation.

## AMAs (Ask Me Anything) 

We are happy to host AMAs from verified users only. Please [message the mods](https://www.reddit.com/message/compose?to=%2Fr%2FADHD) if you would like to set one up.

## Conduct for flaired users

We thank you for taking the time to help out our community by sharing your expertise! We want to take a brief moment to remind you to maintain appropriately professional standards and boundaries when interacting with other users in this subreddit. We also want to make sure that your goodwill in turn is not abused by users on the subreddit or in private messages. If you have any concerns or questions, please [message the mods](https://www.reddit.com/message/compose?to=%2Fr%2FADHD).

While this is very US-physician-centric, the AMA Code of Medical Ethics on the use of social media is a point of reference that you may find useful: https://www.ama-assn.org/delivering-care/professionalism-use-social-media

In cases of inappropriate conduct, the mods reserve the right to remove a user's verified flair and ban them from the subreddit.

## Surveys and study recruitment

We approve surveys and recruitment posts for academic research or noncommercial purposes only. If your survey/post meets that criteria, please [message the mods](https://www.reddit.com/message/compose?to=%2Fr%2FADHD) and be prepared to provide more information on request. We typically look for:

* Institutional review board (IRB) approval
* Direct contact information for the submitter, a supervisor, lab manager, primary investigator, or main contact point for questions and concerns
* Proof of association (with the school, lab, nonprofit, etc.)
* Clear and visible informed consent information, particularly concerning confidentiality and voluntary participation.

Once approved, we are happy to approve reposts every 30 days by reaching back out to us via modmail. We also ask that you consider returning back to the r/adhd community to post the results of the research :)

The mods reserve the right to retract approval for survey and study recruitment, especially if a post has been changed substantially since approval or if we have concerns over informed consent practices.